# ==================================================
# Ignore selected folders and file types from the git
# repository.
# ==================================================

Source/Builds/*
Source/.vs/*

*.db
*.DB
*.DS_Store
*.ini
*.INI
*.lnk
*.LNK
*.pdb
*.PDB
